@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Our Brands</h1>

<ul>
    @*<li>
        <a asp-controller="Brands" asp-action="Details" asp-route-name="Canadian Club">Canadian Club</a>
    </li>
    <li>
        <a asp-controller="Brands" asp-action="Details" asp-route-name="Molson">Molson</a>
    </li>
    <li>
        <a asp-controller="Brands" asp-action="Details" asp-route-name="Glenfiddich">Glenfiddich</a>
    </li>
    <li>
        <a asp-controller="Brands" asp-action="Details" asp-route-name="Jackson Triggs">Jackson Triggs</a>
    </li>
    <li>
        <a asp-controller="Brands" asp-action="Details" asp-route-name="JP Wisers">JP Wisers</a>
    </li>*@
</ul>