@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DotNetDrinks Liquor Store!</h1>
    <p>Learn more about <a href="https://www.linkedin.com/in/isadora-santos-/">the developer</a>.</p>
</div>
